{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    {{#articleList}}
    <tbody>
    <tr>
        <th>{{id}}</th>
        <td><a href="/articles/{{id}}">
            {{#title}}
                {{title}}
            {{/title}}
            {{^title}}
                널 값이지롱
            {{/title}}</a>
        </td>
        <td>
            {{#content}}
                {{content}}
            {{/content}}
            {{^content}}
                널 값이지롱
            {{/content}}
        </td>
    </tr>
    </tbody>
    {{/articleList}}
</table>

<a href="/articles/new">New Article</a>

{{>layouts/footer}}